div {
    background-color: #EEF1EF;
}
a { 
    -webkit-text-fill-color: #7D98A1;
}
/* Border styles for grid */
div[class^="col"]{
    min-height: 50px;
    border: 1px solid black;
}

.row{
    border: 1px dashed red;
} 

.col-2 a {
    position: absolute;
    font-size: 18px;
    color: #7D98A1;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    top: 15px;
}

.col-2 a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0px;
    width: 0;
    height: 2px;
    background: #7D98A1;
    transition: .3s;
}

.home a:hover::before {
    width: 55px;
    color: #7D98A1;
}

.products a:hover::before {
    width: 70px;
    color: #7D98A1;
}

.contact a:hover::before {
    width: 65px;
    color: #7D98A1;
}

.resources a:hover::before {
    width: 80px;
    color: #7D98A1;
}

.sign button {
    position: relative;
    font-size: 18px;
    color: #577399;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    top: 5px;
}

.log button {
    position: relative;
    font-size: 18px;
    color: #6F8AAD;
    font-weight: 500;
    text-decoration: none;
    margin-left: 10px;
    top: 5px;
}

/* Icon sizes */
i[class*=" fi-brands-"]:before {
    font-size: 2rem;
    line-height: 1.6;
}

i[class*=" fi-rr-"]:before {
    font-size: 1.6rem;
    line-height: 2;
}

i[class*=" fi-ss-"]:before {
    font-size: 2.5rem;
    line-height: 1;
    top: 100px;
    right: 22px;
}

.pink {
    width: 45px;
    height: auto;
}

.burger {
    position: absolute;
    right: 29px;
    z-index: 10;
    color: rgb(255, 255, 255);
}

.cir {
    position: absolute;
    top: 6px;
    right: 22px;
}

@media screen and (max-width:754px) {  
    .dis {
      display: none;
    }
    .col-2 a {
        position: absolute;
        font-size: 18px;
        color: #490c0c;
        font-weight: 500;
        text-decoration: none;
        margin-left: 0px;
        top: 15px;
    }
    .home a {
        margin-left: 1px;
    }
    .products a {
        margin-left: -8px;
    }
    .contact a {
        margin-left: -5px;
    }
.twitter {
  position: absolute;
  right: 123px;
}

.instagram {
  position: absolute;
  right: 83px;
}

.youtube {
  position: absolute;
  right: 45px;
}

.tiktok {
  position: absolute;
  right: 5px;
}
}

  @media screen and (min-width:754px) {  
    .burger {
      display: none;
    }
    .cir {
        display: none;
      }
      .gone {
        display: none;
      }
  }
  .twitter {
    position: absolute;
    right: 123px;
}

.instagram {
    position: absolute;
    right: 83px;
}

.youtube {
    position: absolute;
    right: 45px;
}

.tiktok {
    position: absolute;
    right: 5px;
}

.drawer img{
    width: 1000px;
    height: auto;
}
.endtable img{
    width: 485px;
    height: auto;
}
.light img{
    width: 485px;
    height: auto;
}
.fancy img{
    width: 485px;
    height: auto;
}
.kitty img{
    width: 485px;
    height: auto;
}
.pinkd img{
    width: 485px;
    height: auto;
}
.zebra img{
    width: 485px;
    height: auto;
}
.triangle img{
    width: 485px;
    height: 450px;
}


